@import "../../../index.scss";

.general__container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $mb-3;
}

.general__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    width: 340px;
    button {
        justify-content: center;
    }
    i {
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
}

.general__img {
    width: 220px;
    border-radius: 1.5rem;
    filter: grayscale(100%);
    justify-self: center;
}

.general__info {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    margin-bottom: $mb-2;
}

.general__box {
    background-color: $container-color;
    border: 1px solid $border-color-light-dark;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.general__icon {
    font-size: 1.5rem;
    color: $title-color;
    margin-bottom: $mb-0-5;
}
.general__download {
    position: relative;
    display: flex;
    justify-content: center;
    input {
        position: absolute;
        opacity: 0;
            cursor: pointer;
    }
}

.general__title {
    font-size: $small-font-size;
    font-weight: $font-medium;
}

.general__subtitle {
    font-size: $tiny-font-size;
}

.general__description {
    margin-bottom: $mb-2-5;
}
.general_main__information {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    justify-items: center;
    //border: 1px solid hsl($hue, $sat, 66%);;
}

.general__form-div {
    position: relative;
    margin-bottom: $mb-2;
    height: 4rem;
    width: 760px;
}

.general__form-tag {
    display: flex;
    align-items: center;
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: $smaller-font-size;
    padding: 0 0.25rem ;
    background-color: #fff;
    z-index: 10;
    i {
        font-size: 1rem;
        margin-left: .2rem;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .general__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .general__img {
        width: 220px;
    }

    .general__info {
        grid-template-columns: 400px;
        justify-content: center;
    }

    .general__box {
        padding: 0.75rem 0.5rem;
    }

    .general__data {
        text-align: center;
        width: 100%;
        padding: 1rem;
    }

    .general__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
    .general__form-div {
    width: 100%
}
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .general__info {
        grid-template-columns: 300px;
    }

    .general__description {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
