@import "../../index.scss";

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: $text-color;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
    &__error {
        border-color: $border-color-error;
    }
}
