@import "../../index.scss";

.textarea {
    resize: none;
    position: absolute;
    height: fit-content;
    outline: none;
    background-color: $background-color-white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: $text-color;
    border-radius: 0.75rem;
    width: 100%;
    display: block;
    max-width: 100%;
    padding: 0.7rem 1.5rem;
    margin-bottom: 10px;
    &__error {
        border-color: $border-color-error;
    }
}
